<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="styleskralj" href="https://github.com/jikkeee" />
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap CSS Here-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css">
    

    <!-- bootstrap JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <!-- ------- Reset CSS ------  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='config.css') }}"
    />
    <!-- custom css -->
    {% block styleLink %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='about_me.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    <div class="full_bg" style="height: 120px;background: white;z-index: 989;position: relative;">
      <!-- header -->
      <header class="header-area">
          <div class="container-fluid">
              <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                      <div class="logo m-3">
                          <!-- <a href="index.html">Agro<span>Pro</span></a> -->
                          <a href="https://www.agrobotfarms.com/">
                              <img src="static/images/logo.png" width="200" alt="Agrobot Logo" srcset="">
                          </a>
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                      <div class="navbar-area">
                          <nav class="site-navbar">
                              <ul>
                                  <li><a href="https://www.agrobotfarms.com/">Home</a></li>
                                  <li><a target="_blank" href="https://www.agrobotfarms.com/wiki.html">Wiki </a></li>
                                  <li><a target="_blank" href="https://market.agrobotfarms.com/">Marketplace</a></li>
                                  <li><a class="active" href="https://www.agrobotfarms.com/extensions.html">Extensions</a></li>
                                  <!-- <li><a href="testimonail.html">Testimonail</a></li>
                         <li><a href="blog.html">Blog</a></li>
                         <li><a href="contact.html">Contact</a></li> -->
                              </ul>
                              <button class="nav-toggler">
                                  <span></span>
                              </button>
                          </nav>
                      </div>
                  </div>
                  <div class="col-md-2 padd_0 d_none">
                      <ul class="email text_align_right">
                          <!-- <li><a href="Javascript:void(0)">Login</a>
                   </li> -->
                          <!-- <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i>
                      </a>
                   </li> -->
                      </ul>
                  </div>
              </div>
          </div>
      </header>

  </div>

  <div class="d-flex flex-column align-items-center">
    {% block content %} {% endblock %}
  </div>

    <footer style="width: 100%;">
      <div class="footer mt-5">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="hedingh3  text_align_left">
                          <h3>Newsletter</h3>
                          <form id="colof" class="form_subscri">
                              <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                              <button class="subsci_btn"><img src="static/images/new.png" alt="#" /></button>
                          </form>

                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="hedingh3 text_align_center">
                          <h3> Explore</h3>
                          <ul class="menu_footer">
                              <li><a href="https://www.agrobotfarms.com/">Home</a></li>
                              <li><a href="https://www.agrobotfarms.com/wiki.html">Wiki</a></li>
                              <li><a href="https://market.agrobotfarms.com/">Marketplace</a></li>
                              <li><a href="https://www.agrobotfarms.com/extensions.html">Extensions</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="hedingh3  flot_right text_align_left">
                          <h3>ContacT</h3>
                          <ul class="top_infomation">
                              <li><i class="fa fa-phone" aria-hidden="true"></i>
                                  (+234) 8111109159
                              </li>
                              <li><i class="fa fa-phone" aria-hidden="true"></i>
                                  (+234) 81111 09159
                              </li>
                              <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                  <a href="Javascript:void(0)">hello@agrobotfarms.com</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div class="copyright">
              <div class="container">
                  <div class="row d_flex">
                      <div class="col-md-8">
                          <p>© <span id="year"></span> All Rights Reserved.</a>
                          </p>
                      </div>
                      <div class="col-md-4">
                          <ul class="social_icon ">
                              <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              </li>
                              <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                              </li>
                              <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- end footer -->
  <!-- Javascript files-->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/jquery-3.0.0.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/bootstrap-datepicker.min.js"></script>
  <script src="static/js/custom.js"></script>
  <script>
      var date = new Date();
      var date = date.getFullYear();

      var element = document.getElementById('year');
      element.innerText = date;
  </script>
  </body>
    
</html>
